<form id="ingresarProfesional">
    <h2>Ingresar nuevo profesional</h2>

    <label for="nombre">Nombre:</label>
    <input id="nombre" name="nombre" required>
    <label for="apellido">Apellido:</label>
    <input id="apellido" name="apellido" required>
    <label for="especialidad">Especialidad:</label>
    <input id="especialidad" name="especialidad" required>
    <label for="duracionSesion">Duración de Sesión:</label>
        <select id="duracionSesion" name="duracionSesion" required>
            <option value="30">30 minutos</option>
            <option value="45">45 minutos</option>
            <option value="60">1 hora</option>
        </select>    
    <label for="contacto">Contacto:</label>
    <input id="contacto" name="contacto" required>

    <button type="submit">Ingresar Profesional</button>
</form>



<script src="/js/altaProfesional.js"></script>