.header-container{
    width: 5%;
    height: 100vh;
    background-color: var(--background-wall-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu{
     
    font-size: 3.3rem;
    padding-block: 4rem;
    gap: 5rem;
    display: flex;
    flex-direction: column;  
    align-items: center;     
    justify-content: space-between;  
    background-color: var(--bakground-component-color); 
    border-radius: 1rem;
    width: 75%;
    height: 98%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}   
.header-menu ul{
    list-style: none;      
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;  
    gap: 3rem;              
    align-items: center;   
}

.header-menu ul a i{
  color: var(--main-letter-icon-color);
  text-decoration: none;     
  transition: transform 0.2s ease, color 0.2s ease; 
}


.header-menu ul a i:hover {
  transform: scale(1.2);   
  color: var(--hoovers-color);
}


.header-menu .log-out {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2.8rem;
  color: var(--main-letter-icon-color);
  transition: transform 0.3s ease, color 0.3s ease;
}


.header-menu .log-out:hover {
  transform: scale(1.2);
  width: 5rem;
  height: 3rem;
  border-radius: 1rem;
  color: var(--hoovers-color);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

}