.panel-view-container {
  width: 95vw;
  height: 100vh;
  background-color: var(--background-wall-color);
  display: flex;
  flex-direction: column;
}

.dashboard-1{
    border: 1px solid orange;

  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 40vh;
  flex: 1;
}

.part-one{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  flex: 1.3;

}
.part-two{
    border: 1px solid red;

  flex: 1;
  height: 100%;
}

.dashboard-2{
  border: 1px solid orange;
  flex: 1.7;
   width: 100%;
  display: flex;
  flex-direction: column;
  padding-top:1rem;
  padding-right: 1rem;
  overflow: hidden;
} 






/* dashboard 2 */









