.search-bar-add-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.3;
  padding-top: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--soft-bg-color);
  height: 3.5rem;
  width: 40rem;
  padding: 1rem;
  border-radius: 2rem;

}

.search-input {
  
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--main-letter-icon-color);
  font-size: 1.7rem;
  flex: 1;
}

.search-input::placeholder {
  color: var(--main-letter-icon-color);
}

.search-button {
  
  background: none;
  border: none;
  color: var(--main-letter-icon-color);
  font-size: 2.3rem;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.search-button:hover {
  transform: scale(1.2);
  color: var(--hoovers-color);
}


.add-button {
  display: flex;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button button {
  background-color: var(--soft-bg-color);
  border: none;
  height: 4.6rem;
  width: 5rem;
  border-radius: 80%;
  font-size: 2.8rem;
  color: var(--main-letter-icon-color);
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.add-button button:hover {
  color: var(--hoovers-color);
  transform: scale(1.1);
}

