
.technical-file-container{
  height: 100%;
  padding-top: 0.5rem;
  padding-inline: 1rem;
}


.profile-card {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: var(--bakground-component-color);
    color: var(--main-letter-icon-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-letter-icon-color);
  font-weight: bold;
  font-size: 1.4rem;
}

.edit-btn {
  background-color: var(--background-wall-color);
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
  background-color: #3e3d5c;
}

.profile-text h3 {
  margin: 0;
  font-size: 2.3rem;
  color: var(--main-letter-icon-color);
}

.profile-text .profession {
  font-size: 1.6rem;
  color: var(--main-letter-icon-color);
}

.profile-text .location {
  font-size: 1.3rem;
  color: var(--main-letter-icon-color);
}

.profile-description {
  font-size: 1.3rem;
  color: #ccc;
  padding-inline: 0.5rem;
  word-wrap: break-word; 
  overflow-wrap: break-word;
}

.profile-details {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-inline: 1rem;
}

.detail-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-block .label {
  font-size: 1.5rem;
  color: var(--main-letter-icon-color);
}

.detail-block .value {
  font-size: 1.2rem;
  font-weight: bold;
}