/* index.css - reset y estilos básicos mínimos */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 62.5%;
  height: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #000;
}


img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}