/* index.css - reset y estilos básicos mínimos */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   
}

html, body {
  font-size: 62.5%;
  height: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #000;
  overflow: hidden;
}


img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --soft-bg-color: #a08ebe;
  --bakground-component-color: rgb(143, 102, 143);
  --background-wall-color: rgb(136, 112, 161);
  --main-letter-icon-color: rgb(216, 202, 230);
  --hoovers-color: rgb(224, 143, 214);
  --strong-color:  #6c3fb9;
}